// out: index.css, sourcemap: false, compress: true

html,body{height: 100%;}
*{padding: 0;margin: 0;}
ul,ol{list-style: none;}
a{text-decoration: none; color:@font-main;}
img{vertical-align: top;}
i{text-indent: -9999px;font-style: italic;}
button{text-indent: -9999px; background: none;}

@font-main : #ccc;
@font-sub : #2d2c32;
@font-sel : #20bedf;
@font-white : #fff;


.outline(){outline:1px #f00 solid;}
.fl(){float: left;}
.fr(){float: right;}

header{
  width: 100%;height: 100px;
  position: fixed;
  z-index: 1;
}
.nav{
  width: 1200px;height: 100%;
  margin: 0 auto;
  line-height: 100px;
  li{
    .fl();
    width: 20%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
  }
  li.on{
    a{
      color:@font-sel;
    }
  }

}
.upbtn{
  position: fixed;
  right: 50px;bottom:0;
  margin-bottom: 50px;

  .up{
    background: url("../images/up.png") no-repeat center;
    display: block;
    width: 50px;height: 50px;
    border: 5px #000 solid;
    border-radius: 50%;
    opacity: 0.8;
    cursor : pointer;
  }
}
div[class*="sec"]{
  width: 100%;
  height: 100%;
  background-size: cover;
  article{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    line-height: 1;
    text-align: center;
    position: relative;
  }
}
.sec_1{

  background: url("../images/notebook.jpg") no-repeat center;
  .intro{
    width: 1000px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  h1{
    text-transform: uppercase;
    font-size: 120px;
    color: @font-white;
    margin-bottom: 60px;
  }
  span{
    display: block;
    text-transform: uppercase;
    font-size: 40px;
    color:@font-white;
  }
}
.sec_2{
  background: url("../images/memory.jpg") no-repeat center;
  .career{
    text-align: left;
    padding-top: 150px;
  }
  cite{
    display: block;
    font-size: 120px;
    text-transform: uppercase;
    color:@font-sub;
    margin: 0 0 30px 50px;

  }
  p{
    width: 600px;
    font-size: 24px;
    margin: 0 0 30px 30px;
    color: @font-main;
    line-height: 1.5;
  }
}
.sec_3{
  background: url("../images/desktop.jpg") no-repeat center;
}
.sec_4{
  background: url("../images/apple2.jpg") no-repeat center;
}
.sec_5{
  background: url("../images/cloud.jpg") no-repeat center;
}
.cont{
  width: 1000px;
  margin: 0 auto;
  padding-top: 200px;
  text-align: center;
  span{
    text-transform: uppercase;
    font-size: 120px;
    color: @font-sub;
    margin-bottom: 20px;
  }
}
.item{
  overflow: hidden;
  margin-top: 60px;
  div{
    width: 33.333333333333%;
    text-align: center;
    .fl();
  }
  i{
    border: 5px #000 solid;
    display: block;
    width: 80px;height: 80px;
    margin: 50px auto;
    border-radius: 50%;
  }
  cite{
    display:block;
    font-size: 20px;
    color:@font-sub;
    font-weight: bold;
    margin: 30px 0;
    text-transform: uppercase;
  }
  span{
    display: block;
    width: 50%;
    margin: 0 auto;
    font-weight: bold;
    font-size: 17px;
    color: @font-sub;
  }
  .address i{
    background: url("../images/address.png") no-repeat center;
  }
  .tel i{
    background: url("../images/tel.png") no-repeat center;
  }
  .mail i{
    background: url("../images/mail.png") no-repeat center;
  }
}
