// out: index.css, sourcemap: false, compress: true

html,body{height: 100%;}
*{padding: 0;margin: 0;}
ul,ol{list-style: none;}
a{text-decoration: none; color:@font-main;}
img{vertical-align: top;}
i{text-indent: -9999px;font-style: italic;}

@font-main : #ccc;
@font-sub : #2d2c32;
@font-sel : #20bedf;
@font-white : #fff;


.outline(){outline:1px #f00 solid;}
.fl(){float: left;}
.fr(){float: right;}

header{
  .outline();
  width: 100%;height: 100px;
  position: fixed;
  z-index: 1;
}
.nav{
  .outline();
  width: 1200px;height: 100%;
  margin: 0 auto;
  line-height: 100px;
  li{
    .fl();
    width: 20%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
  }
  li.on{
    a{
      color:@font-sel;
    }
  }

}
div[class^="sec"]{
  .outline();
  width: 100%;
  height: 100%;
  // background-attachment: fixed;
  article{
    .outline();
    width: 1200px;
    height: 100%;
    margin: 0 auto;
  }
}
.sec_1{
  background: url("../images/notebook.jpg") no-repeat center;
  article{
    position: relative;
    line-height: 1;
    text-align: center;
    .intro{
      .outline();
      width: 1000px;
      margin: 0 auto;
      padding-top: 400px;
    }
    h1{
      .outline();
      text-transform: uppercase;
      font-size: 120px;
      color: @font-white;
      margin-bottom: 20px;
    }
    span{
      .outline();
      display: block;
      text-transform: uppercase;
      font-size: 40px;
      color:@font-white;

    }
  }
}
.sec_2{
  background: url("../images/memory.jpg") no-repeat center;
}
.sec_3{
  background: url("../images/apple.jpg") no-repeat center;
}
.sec_4{
  background: url("../images/apple2.jpg") no-repeat center;
}
.sec_5{
  background: url("../images/cloud.jpg") no-repeat center;
}
.cont{
  .outline();
  width: 1000px;
  margin: 0 auto;
  padding-top: 200px;
  text-align: center;
  span{
    .outline();
    text-transform: uppercase;
    font-size: 120px;
    color: @font-sub;
    margin-bottom: 20px;
  }
}
.item{
  .outline();
  overflow: hidden;
  margin-top: 60px;
  div{
    .outline();
    width: 33.333333333333%;
    text-align: center;
    .fl();
  }
  i{
    border: 5px #000 solid;
    display: block;
    width: 80px;height: 80px;
    margin: 50px auto;
    border-radius: 50%;
  }
  cite{
    display:block;
    font-size: 20px;
    color:@font-sub;
    font-weight: bold;
    margin: 30px 0;
  }
  span{
    display: block;
    width: 50%;
    margin: 0 auto;
    font-weight: bold;
    font-size: 17px;
    color: @font-sub;
  }
  .address i{
    background: url("../images/address.png") no-repeat center;
  }
  .tel i{
    background: url("../images/tel.png") no-repeat center;
  }
  .mail i{
    background: url("../images/mail.png") no-repeat center;
  }
}
