.wrap{
  max-width: 740px;
  margin: 20px auto 0;
  p{
    padding: 10px;
    letter-spacing: 2px;
    color:#555;
    line-height: 30px;
  }
  span,a{
    font-weight: bold;
  }
  a{
    padding: 1px;
  }
  .eCtr{
    color:#00aaaa;
  }
  .sCond{
    color:#800000;
  }
  .cLang{
    color: #ff1868;
  }
  .wPub{
    color:#ff8040;
  }
  .fEnd{
    color:#808000;
  }
  .pFolio{
    background-color: #ff0080;
    color:#fff;
    transition: 0.5s;
    &:hover{
      background-color: lighten(rgb(255,0,128), 15%);
    }
  }
  .html{
    color:#e54f27;
  }
  .css{
    color:#2177ff;
  }
  .js{
    color:#a79303;
  }
  .git{
    background-color: #000;
    color:#fff;
    transition: 0.5s;
    &:hover{
      background-color: lighten(rgb(0,0,0), 15%);
    }
  }
  .rNow{
    color:#ff2020;
    text-transform: uppercase;
  }
}
