html,body{height: 100%;}
*{padding: 0;margin: 0;}
ul,ol{list-style: none;}
a{text-decoration: none; color:@font-main;}
img{vertical-align: top;}
i{text-indent: -9999px;font-style: italic;}
button{text-indent: -9999px; background: none;}

@font-main : #ccc;
@font-sub : #2d2c32;
@font-sel : #20bedf;
@font-white : #fff;


.outline(){outline:1px #f00 solid;}
.fl(){float: left;}
.fr(){float: right;}

header{
  width: 100%;height: 100px;
  position: fixed;
  z-index: 1;
  background-color: rgba(0,0,0,.2);
}
.nav{
  width: 1200px;height: 100%;
  margin: 0 auto;
  line-height: 100px;
  i{
    display: none;
    width: 32px;height: 32px;
    position: absolute;
    top: 24px;right: 40px;
    cursor: pointer;
    text-indent: 0px;
    img{
      width: 100%;
    }
  }
  li{
    .fl();
    width: 20%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    a{
      color:@font-white;
    }
    &:hover{
      a{
        color:@font-sel;
      }
    }
  }
  li.on{
    a{
      color:@font-sel;
    }
  }

}
.upbtn{
  position: fixed;
  right: 50px;bottom:0;
  margin-bottom: 50px;

  .up{
    background: url("../images/up.png") no-repeat center;
    background-size: 100%;
    display: block;
    width: 50px;height: 50px;
    border: 5px #000 solid;
    border-radius: 50%;
    opacity: 0.8;
    cursor : pointer;
  }
}
div[class*="sec"]{
  width: 100%;
  height: 100%;
  background-size: cover;
  article{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    line-height: 1;
    text-align: center;
  }
}
.sec_1{
  background: url("../images/notebook.jpg") no-repeat center;
  article{
    text-align: center;
    &:before{
      content:"";
      height: 100%;
      display: inline-block;
      vertical-align: middle;
    }
  }
  .intro{
    width: 1000px;
    display: inline-block;
    vertical-align: middle;
  }
  h1{
    text-transform: uppercase;
    font-size: 80px;
    color: @font-white;
    margin-bottom: 60px;
  }
  span{
    display: block;
    text-transform: uppercase;
    font-size: 40px;
    color:@font-white;
  }
}
.sec_2{
  background: url("../images/memory.jpg") no-repeat center;
  .career{
    text-align: left;
    padding-top: 150px;
  }
  cite{
    display: block;
    font-size: 80px;
    text-transform: uppercase;
    color:@font-sub;
    margin: 0 0 30px 50px;

  }
  p{
    width: 600px;
    font-size: 24px;
    margin: 0 0 30px 30px;
    color: @font-main;
    line-height: 1.5;
  }
}
div.sec_3{
  height: auto;
  .textWrap{
    width: 1000px;
    margin: 0 auto;
    padding-top: 10%;
    text-align: center;
    h3{
      text-transform: uppercase;
      font-size: 80px;
      color: @font-sub;
      margin-bottom: 20px;
    }
    span{
      width: 200px;height: 6px;
      background-color: @font-sub;
      display: block;
      margin: 0 auto;
    }
  }
  .portWrap{
    width: 1000px;
    margin: 50px auto 0;
    position: relative;
    >div{
      position: relative;
      height: 400px;
    }
    .imgWrap{
      position: absolute;
      left: 0;top: 0;
      max-width: 500px;height: 350px;
      img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }
    }
    .thisInfo{
      position: absolute;
      top: 0;right: 0;
      width: 400px;height: 350px;
    }
    .info{
      position: absolute;
      top: 20px;bottom: 20px;left: 20px;right: 20px;
    }
    .title{
      text-align: left;
      span{
        font-size: 32px;
        color:@font-sub;
      }
    }
    .content{
      text-align: left;
      margin-top: 15px;
      margin-left: 15px;
    }
    .skill{
      text-align: left;
      position: absolute;
      left: 20px;right: 20px;bottom: 20px;
      span{
        display: inline-block;
        font-size: 14px;
        line-height: 1;
        padding: 5px 10px;
        color:@font-main;
        border: 1px @font-main solid;
        border-radius: 5px;
      }
    }
  }
}
.sec_4{

}
.sec_5{
  background: url("../images/cloud.jpg") no-repeat center;
  .cont{
    width: 1000px;
    margin: 0 auto;
    padding-top: 30%;
    text-align: center;
    span{
      text-transform: uppercase;
      font-size: 80px;
      color: @font-sub;
      margin-bottom: 20px;
    }
  }
  .item{
    overflow: hidden;
    margin-top: 60px;
    div{
      width: 33.333333333333%;
      text-align: center;
      .fl();
    }
    i{
      border: 5px #000 solid;
      display: block;
      width: 80px;height: 80px;
      margin: 50px auto;
      border-radius: 50%;
    }
    cite{
      display:block;
      font-size: 20px;
      color:@font-sub;
      font-weight: bold;
      margin: 30px 0;
      text-transform: uppercase;
    }
    span{
      display: block;
      width: 50%;
      margin: 0 auto;
      font-weight: bold;
      font-size: 17px;
      color: @font-sub;
    }
    .address i{
      background: url("../images/address.png") no-repeat center;
    }
    .tel i{
      background: url("../images/tel.png") no-repeat center;
    }
    .mail i{
      background: url("../images/mail.png") no-repeat center;
    }
  }
}

@media screen and (max-width:1200px){
  .nav{
    width: 800px;
    li{
      font-size: 18px;
    }
  }
  div[class*="sec"]{
    article{
      width: 800px;
    }
  }
  .sec_1{
    .intro{
      width: 600px;
    }
    h1{
      font-size: 48px;
    }
    span{
      font-size: 32px;
    }
  }
  .sec_2{
    .career{
      padding-top: 70px;
    }
    cite{
      font-size: 48px;
      margin: 0 0 10px 30px;
    }
    p{
      font-size: 22px;
      margin: 0 0 20px 20px;
    }
  }
  div.sec_3{
    .textWrap{
      width: 800px;
      h3{
        font-size: 48px;
      }
      span{
        min-width: 100px;height: 4px;
      }
    }
    .portWrap{
      width: 800px;
      >div{
        height: 350px;
      }
      .imgWrap{
        width: 450px;height: 300px;
      }
      .thisInfo{
        width: 350px;height: 300px;
      }
      .title{
        span{
          font-size: 28px;
        }
      }
      .skill{
        left: 10px;right: 10px;bottom: 10px;
      }
    }
  }
  .sec_5{
    .cont{
      width: 800px;
      span{
        font-size: 48px;
      }
    }
    .item{
      i{
        border: 1px #000 solid;
        width: 40px;height: 40px;
        margin: 30px auto;
      }
      cite{
        font-size: 16px;
        margin: 20px 0;
      }
      span{
        font-size: 14px;
      }
      .address i{
        background-size: 100%;
      }
      .tel i{
        background-size: 100%;
      }
      .mail i{
        background-size: 100%;
      }
    }
  }
}
@media screen and (max-width:800px){
  .nav{
    width: 100%;
    li{
      font-size: 14px;
    }
  }
  div[class*="sec"]{
    article{
      width: 100%;
    }
  }
  .sec_1{
    .intro{
      width: 400px;
    }
    h1{
      font-size: 36px;
    }
    span{
      font-size: 24px;
    }
  }
  .sec_2{
    cite{
      font-size: 36px;
    }
    p{
      font-size: 18px;
    }
  }
  div.sec_3{
    .textWrap{
      width: 100%;
      h3{
        font-size: 36px;
      }
      span{
        min-width: 100px;height: 4px;
      }
    }
    .portWrap{
      margin-top: 20px;
      width: 450px;
      >div{
        height: 500px;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px @font-main solid;
      }
      .imgWrap{
        width: 450px;height: 300px;
      }
      .thisInfo{
        top: 310px;right: 50px;
        width: 350px;height: 200px;
      }
      .info{
        top: 5px;bottom: 5px;right: 5px;left: 5px;
      }
      .title{
        span{
          font-size: 24px;
        }
      }
      .content{
        margin: 10px 0 0 5px;
        p{
          font-size: 14px;
        }
      }
    }
  }
  .sec_5{
    .cont{
      width: 100%;
      span{
        font-size: 36px;
      }
    }
    .item{
      i{
        border: none;
        border-radius: initial;
      }
    }
  }
  .upbtn{
    .up{
      width: 30px;height: 30px;
      border: 1px #000 solid;
    }
  }
}
@media screen and (max-width:768px){
  header{
    position: fixed;
    background-color: rgba(0,0,0,.8);
    height: 80px;
  }
  .nav{
    line-height: 80px;
  }
  // div[class*="sec"]{
  //   height: 500px;
  // }
}
@media screen and (max-width:650px){
  .nav{
    i{
      display: block;
    }
    ul{
      display: none;
      position: absolute;
      width: 100%;
      right: 0;top: 80px;
      padding: 10px;
    }
    li{
      width: 80%;
      font-size: 18px;
      padding: 5px 10px;
      margin: 5px auto;
      line-height: 30px;
      text-align: center;
      float: initial;
      border-bottom: 1px #ccc solid;
    }
  }
  .sec_1{
    .intro{
      width: 320px;
    }
    h1{
      font-size: 32px;
    }
    span{
      font-size: 18px;
    }
  }
  .sec_2{
    cite{
      font-size: 32px;
    }
    p{
      width: 300px;
      font-size:  15px;
    }
  }
  .sec_5{
    .cont{
      padding-top: 10%;
      span{
        font-size: 32px;
      }
    }
    .item{
      margin-top: 20px;
      text-align: center;
      i{
        margin: 10px auto;
      }
      div{
        margin: 0 auto 20px;
        display: block;
        width: 300px;
        float: none;
      }
      span{
        width: 80%;
        color: @font-sub;
      }
      cite{
        margin: 10px auto;
      }
    }
  }
}
@media screen and (max-width:500px){
  div.sec_3{
    .textWrap{
      h3{
        font-size: 32px;
      }
    }
    .portWrap{
      width: 100%;
      .imgWrap{
        width: 100%;height: 250px;
      }
      .thisInfo{
        top: 260px;right: 20px;left: 20px;
        width: auto;
      }
      .title{
        span{
          font-size: 20px;
        }
      }
      .skill{
        left: 5px;right: 5px;bottom: 5px;
        span{
          font-size: 13px;
          padding: 2px 5px;
        }
      }
    }
  }
}
