/* line 1, assets/less/index.less */
html,
body {
  height: 100%;
}
/* line 2, assets/less/index.less */
* {
  padding: 0;
  margin: 0;
}
/* line 3, assets/less/index.less */
ul,
ol {
  list-style: none;
}
/* line 4, assets/less/index.less */
a {
  text-decoration: none;
  color: #ccc;
}
/* line 5, assets/less/index.less */
img {
  vertical-align: top;
}
/* line 6, assets/less/index.less */
i {
  text-indent: -9999px;
  font-style: italic;
}
/* line 7, assets/less/index.less */
button {
  text-indent: -9999px;
  background: none;
}
/* line 19, assets/less/index.less */
header {
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
}
/* line 25, assets/less/index.less */
.nav {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  line-height: 100px;
}
/* line 29, assets/less/index.less */
.nav i {
  display: none;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 24px;
  right: 40px;
  cursor: pointer;
  text-indent: 0px;
}
/* line 36, assets/less/index.less */
.nav i img {
  width: 100%;
}
/* line 40, assets/less/index.less */
.nav li {
  float: left;
  width: 33.3333333%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 47, assets/less/index.less */
.nav li a {
  color: #fff;
}
/* line 51, assets/less/index.less */
.nav li:hover a {
  color: #20bedf;
}
/* line 57, assets/less/index.less */
.nav li.on a {
  color: #20bedf;
}
/* line 63, assets/less/index.less */
.upbtn {
  position: fixed;
  right: 50px;
  bottom: 0;
  margin-bottom: 50px;
}
/* line 68, assets/less/index.less */
.upbtn .up {
  background: url("../images/up.png") no-repeat center;
  background-size: 100%;
  display: block;
  width: 50px;
  height: 50px;
  border: 5px #000 solid;
  border-radius: 50%;
  opacity: 0.8;
  cursor: pointer;
}
/* line 79, assets/less/index.less */
div[class*="sec_"] {
  width: 100%;
  height: 1000px;
  background-size: cover;
}
/* line 83, assets/less/index.less */
div[class*="sec_"] article {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  line-height: 1;
  text-align: center;
}
/* line 91, assets/less/index.less */
.sec_1 {
  background: url("../images/notebook.jpg") no-repeat center;
}
/* line 93, assets/less/index.less */
.sec_1 article {
  text-align: center;
}
/* line 95, assets/less/index.less */
.sec_1 article:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
/* line 102, assets/less/index.less */
.sec_1 .intro {
  width: 1000px;
  display: inline-block;
  vertical-align: middle;
}
/* line 107, assets/less/index.less */
.sec_1 h1 {
  text-transform: uppercase;
  font-size: 80px;
  color: #fff;
  margin-bottom: 60px;
}
/* line 113, assets/less/index.less */
.sec_1 .slogan {
  overflow: hidden;
  height: 50px;
}
/* line 117, assets/less/index.less */
.sec_1 span {
  position: relative;
  display: block;
  font-size: 40px;
  line-height: 1;
  color: #ccc;
}
/* line 125, assets/less/index.less */
.sec_2 {
  background: url("../images/memory.jpg") no-repeat center;
}
/* line 127, assets/less/index.less */
.sec_2 .career {
  text-align: left;
  padding-top: 150px;
}
/* line 131, assets/less/index.less */
.sec_2 cite {
  display: block;
  font-size: 80px;
  text-transform: uppercase;
  color: #2d2c32;
  margin: 0 0 30px 50px;
}
/* line 139, assets/less/index.less */
.sec_2 p {
  width: 600px;
  font-size: 24px;
  margin: 0 0 30px 30px;
  color: #2d2c32;
  line-height: 1.5;
}
/* line 147, assets/less/index.less */
div.sec_3 {
  height: auto;
}
/* line 149, assets/less/index.less */
div.sec_3 .textWrap {
  width: 1000px;
  margin: 0 auto;
  padding-top: 10%;
  text-align: center;
}
/* line 154, assets/less/index.less */
div.sec_3 .textWrap h3 {
  text-transform: uppercase;
  font-size: 80px;
  color: #2d2c32;
  margin-bottom: 20px;
}
/* line 160, assets/less/index.less */
div.sec_3 .textWrap span {
  width: 200px;
  height: 6px;
  background-color: #2d2c32;
  display: block;
  margin: 0 auto;
}
/* line 167, assets/less/index.less */
div.sec_3 .portWrap {
  width: 1000px;
  margin: 50px auto 0;
  position: relative;
}
/* line 171, assets/less/index.less */
div.sec_3 .portWrap > div {
  position: relative;
  height: 400px;
}
/* line 175, assets/less/index.less */
div.sec_3 .portWrap .imgWrap {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 500px;
  height: 350px;
}
/* line 179, assets/less/index.less */
div.sec_3 .portWrap .imgWrap img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
/* line 185, assets/less/index.less */
div.sec_3 .portWrap .thisInfo {
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;
  height: 350px;
}
/* line 190, assets/less/index.less */
div.sec_3 .portWrap .info {
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
}
/* line 194, assets/less/index.less */
div.sec_3 .portWrap .title {
  text-align: left;
}
/* line 196, assets/less/index.less */
div.sec_3 .portWrap .title span {
  font-size: 32px;
  color: #2d2c32;
}
/* line 201, assets/less/index.less */
div.sec_3 .portWrap .content {
  text-align: left;
  padding-top: 25px;
  padding-left: 10px;
}
/* line 205, assets/less/index.less */
div.sec_3 .portWrap .content p {
  color: #2d2c32;
}
/* line 209, assets/less/index.less */
div.sec_3 .portWrap .skill {
  text-align: left;
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 20px;
}
/* line 213, assets/less/index.less */
div.sec_3 .portWrap .skill span {
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  padding: 5px 10px;
  margin-bottom: 5px;
  color: #2d2c32;
  border: 1px #2d2c32 solid;
  border-radius: 5px;
}
/* line 226, assets/less/index.less */
footer {
  width: 100%;
  height: 200px;
  background-color: #333;
  text-align: center;
}
/* line 231, assets/less/index.less */
footer:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
/* line 237, assets/less/index.less */
footer .wrap {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
/* line 241, assets/less/index.less */
footer .wrap span {
  font-size: 20px;
  color: #fff;
}
/* line 245, assets/less/index.less */
footer .wrap .copy {
  margin-top: 20px;
}
@media screen and (max-width: 1200px) {
  /* line 253, assets/less/index.less */
  .nav {
    width: 800px;
  }
  /* line 255, assets/less/index.less */
  .nav li {
    font-size: 18px;
  }
  /* line 259, assets/less/index.less */
  div[class*="sec_"] {
    height: 800px;
  }
  /* line 261, assets/less/index.less */
  div[class*="sec_"] article {
    width: 800px;
  }
  /* line 266, assets/less/index.less */
  .sec_1 .intro {
    width: 600px;
  }
  /* line 269, assets/less/index.less */
  .sec_1 h1 {
    font-size: 48px;
  }
  /* line 272, assets/less/index.less */
  .sec_1 span {
    font-size: 32px;
  }
  /* line 277, assets/less/index.less */
  .sec_2 .career {
    padding-top: 70px;
  }
  /* line 280, assets/less/index.less */
  .sec_2 cite {
    font-size: 48px;
    margin: 0 0 10px 30px;
  }
  /* line 284, assets/less/index.less */
  .sec_2 p {
    font-size: 22px;
    margin: 0 0 20px 20px;
  }
  /* line 289, assets/less/index.less */
  div.sec_3 {
    height: 1300px;
  }
  /* line 291, assets/less/index.less */
  div.sec_3 .textWrap {
    width: 800px;
  }
  /* line 293, assets/less/index.less */
  div.sec_3 .textWrap h3 {
    font-size: 48px;
  }
  /* line 296, assets/less/index.less */
  div.sec_3 .textWrap span {
    min-width: 100px;
    height: 4px;
  }
  /* line 300, assets/less/index.less */
  div.sec_3 .portWrap {
    width: 800px;
  }
  /* line 302, assets/less/index.less */
  div.sec_3 .portWrap > div {
    height: 350px;
  }
  /* line 305, assets/less/index.less */
  div.sec_3 .portWrap .imgWrap {
    width: 450px;
    height: 300px;
  }
  /* line 308, assets/less/index.less */
  div.sec_3 .portWrap .thisInfo {
    width: 350px;
    height: 300px;
  }
  /* line 312, assets/less/index.less */
  div.sec_3 .portWrap .title span {
    font-size: 28px;
  }
  /* line 316, assets/less/index.less */
  div.sec_3 .portWrap .skill {
    left: 10px;
    right: 10px;
    bottom: 10px;
  }
}
@media screen and (max-width: 800px) {
  /* line 323, assets/less/index.less */
  .nav {
    width: 100%;
  }
  /* line 325, assets/less/index.less */
  .nav li {
    font-size: 14px;
  }
  /* line 329, assets/less/index.less */
  div[class*="sec_"] {
    height: 500px;
  }
  /* line 331, assets/less/index.less */
  div[class*="sec_"] article {
    width: 100%;
  }
  /* line 336, assets/less/index.less */
  .sec_1 .intro {
    width: 400px;
  }
  /* line 339, assets/less/index.less */
  .sec_1 h1 {
    font-size: 36px;
    margin-bottom: 40px;
  }
  /* line 343, assets/less/index.less */
  .sec_1 span {
    font-size: 24px;
  }
  /* line 348, assets/less/index.less */
  .sec_2 cite {
    font-size: 36px;
  }
  /* line 351, assets/less/index.less */
  .sec_2 p {
    font-size: 18px;
  }
  /* line 355, assets/less/index.less */
  div.sec_3 {
    height: 1740px;
  }
  /* line 357, assets/less/index.less */
  div.sec_3 .textWrap {
    width: 100%;
  }
  /* line 359, assets/less/index.less */
  div.sec_3 .textWrap h3 {
    font-size: 36px;
  }
  /* line 362, assets/less/index.less */
  div.sec_3 .textWrap span {
    min-width: 100px;
    height: 4px;
  }
  /* line 366, assets/less/index.less */
  div.sec_3 .portWrap {
    margin-top: 20px;
    width: 450px;
  }
  /* line 369, assets/less/index.less */
  div.sec_3 .portWrap > div {
    height: 450px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px #ccc solid;
  }
  /* line 375, assets/less/index.less */
  div.sec_3 .portWrap > div.league {
    height: 560px;
  }
  /* line 378, assets/less/index.less */
  div.sec_3 .portWrap .imgWrap {
    width: 450px;
    height: 300px;
  }
  /* line 381, assets/less/index.less */
  div.sec_3 .portWrap .thisInfo {
    top: 310px;
    right: 50px;
    width: 350px;
    height: 150px;
  }
  /* line 385, assets/less/index.less */
  div.sec_3 .portWrap .league .thisInfo {
    top: 310px;
    right: 50px;
    width: 350px;
    height: 260px;
  }
  /* line 389, assets/less/index.less */
  div.sec_3 .portWrap .info {
    top: 5px;
    bottom: 5px;
    right: 5px;
    left: 5px;
  }
  /* line 393, assets/less/index.less */
  div.sec_3 .portWrap .title span {
    font-size: 24px;
  }
  /* line 397, assets/less/index.less */
  div.sec_3 .portWrap .content {
    padding: 10px 0 0 5px;
  }
  /* line 399, assets/less/index.less */
  div.sec_3 .portWrap .content p {
    font-size: 14px;
  }
  /* line 406, assets/less/index.less */
  .upbtn .up {
    width: 30px;
    height: 30px;
    border: 1px #000 solid;
  }
}
@media screen and (max-width: 768px) {
  /* line 413, assets/less/index.less */
  header {
    position: relative;
    background-color: #000;
    height: 80px;
  }
  /* line 418, assets/less/index.less */
  .nav {
    line-height: 80px;
  }
}
@media screen and (max-width: 650px) {
  /* line 424, assets/less/index.less */
  .nav i {
    display: block;
  }
  /* line 427, assets/less/index.less */
  .nav ul {
    display: none;
    position: absolute;
    width: 100%;
    right: 0;
    top: 80px;
    padding: 10px;
  }
  /* line 434, assets/less/index.less */
  .nav li {
    width: 80%;
    font-size: 18px;
    padding: 5px 10px;
    margin: 5px auto;
    line-height: 30px;
    text-align: center;
    float: initial;
    border-bottom: 1px #ccc solid;
  }
  /* line 446, assets/less/index.less */
  .sec_1 .intro {
    width: 320px;
  }
  /* line 449, assets/less/index.less */
  .sec_1 h1 {
    font-size: 32px;
  }
  /* line 452, assets/less/index.less */
  .sec_1 span {
    font-size: 18px;
  }
  /* line 457, assets/less/index.less */
  .sec_2 cite {
    font-size: 32px;
  }
  /* line 460, assets/less/index.less */
  .sec_2 p {
    width: 450px;
    font-size: 15px;
  }
}
@media screen and (max-width: 500px) {
  /* line 468, assets/less/index.less */
  .sec_2 .career {
    padding-top: 30px;
  }
  /* line 471, assets/less/index.less */
  .sec_2 p {
    width: 320px;
  }
  /* line 475, assets/less/index.less */
  div.sec_3 {
    height: 1400px;
  }
  /* line 478, assets/less/index.less */
  div.sec_3 .textWrap h3 {
    font-size: 32px;
  }
  /* line 482, assets/less/index.less */
  div.sec_3 .portWrap {
    width: 100%;
  }
  /* line 484, assets/less/index.less */
  div.sec_3 .portWrap > div {
    height: 360px;
  }
  /* line 487, assets/less/index.less */
  div.sec_3 .portWrap > div.league {
    height: 450px;
  }
  /* line 490, assets/less/index.less */
  div.sec_3 .portWrap .imgWrap {
    width: 100%;
    height: 250px;
  }
  /* line 493, assets/less/index.less */
  div.sec_3 .portWrap .thisInfo {
    top: 260px;
    right: 20px;
    left: 20px;
    width: auto;
    height: 120px;
  }
  /* line 497, assets/less/index.less */
  div.sec_3 .portWrap .league .thisInfo {
    top: 260px;
    right: 20px;
    left: 20px;
    width: auto;
    height: 210px;
  }
  /* line 502, assets/less/index.less */
  div.sec_3 .portWrap .title span {
    font-size: 20px;
  }
  /* line 506, assets/less/index.less */
  div.sec_3 .portWrap .skill {
    left: 5px;
    right: 5px;
    bottom: 5px;
  }
  /* line 508, assets/less/index.less */
  div.sec_3 .portWrap .skill span {
    font-size: 13px;
    padding: 2px 5px;
  }
  /* line 515, assets/less/index.less */
  footer {
    height: 130px;
  }
  /* line 518, assets/less/index.less */
  footer .wrap span {
    font-size: 14px;
  }
  /* line 521, assets/less/index.less */
  footer .wrap .copy {
    margin-top: 10px;
  }
}
