/* line 1, assets/less/index.less */
html,
body {
  height: 100%;
}
/* line 2, assets/less/index.less */
* {
  padding: 0;
  margin: 0;
}
/* line 3, assets/less/index.less */
ul,
ol {
  list-style: none;
}
/* line 4, assets/less/index.less */
a {
  text-decoration: none;
  color: #000;
}
/* line 5, assets/less/index.less */
img {
  vertical-align: top;
}
/* line 6, assets/less/index.less */
i {
  text-indent: -9999px;
  font-style: italic;
}
/* line 7, assets/less/index.less */
button {
  text-indent: -9999px;
  background: none;
}
/* line 10, assets/less/index.less */
header {
  width: 740px;
  margin: 0 auto;
  text-align: center;
}
/* line 14, assets/less/index.less */
header .title {
  margin-bottom: 30px;
}
/* line 16, assets/less/index.less */
header .title h1 {
  padding: 10px 5px;
  font-size: 40px;
  line-height: 70px;
}
/* line 23, assets/less/index.less */
header nav ul {
  font-size: 0;
}
/* line 26, assets/less/index.less */
header nav li {
  font-size: 16px;
  line-height: 36px;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 30px;
}
/* line 32, assets/less/index.less */
header nav li:last-child {
  margin-right: 0;
}
/* line 38, assets/less/index.less */
.wrap {
  width: 740px;
  margin: 0 auto;
  outline: 1px #f00 solid;
}
