/* line 1, assets/less/index.less */
html,
body {
  height: 100%;
}
/* line 2, assets/less/index.less */
* {
  padding: 0;
  margin: 0;
}
/* line 3, assets/less/index.less */
ul,
ol {
  list-style: none;
}
/* line 4, assets/less/index.less */
a {
  text-decoration: none;
  color: #ccc;
}
/* line 5, assets/less/index.less */
img {
  vertical-align: top;
}
/* line 6, assets/less/index.less */
i {
  text-indent: -9999px;
  font-style: italic;
}
/* line 7, assets/less/index.less */
button {
  text-indent: -9999px;
  background: none;
}
/* line 19, assets/less/index.less */
header {
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
}
/* line 25, assets/less/index.less */
.nav {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  line-height: 100px;
}
/* line 29, assets/less/index.less */
.nav i {
  display: none;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 24px;
  right: 40px;
  cursor: pointer;
  text-indent: 0px;
}
/* line 36, assets/less/index.less */
.nav i img {
  width: 100%;
}
/* line 40, assets/less/index.less */
.nav li {
  float: left;
  width: 20%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 47, assets/less/index.less */
.nav li a {
  color: #fff;
}
/* line 51, assets/less/index.less */
.nav li:hover a {
  color: #20bedf;
}
/* line 57, assets/less/index.less */
.nav li.on a {
  color: #20bedf;
}
/* line 63, assets/less/index.less */
.upbtn {
  position: fixed;
  right: 50px;
  bottom: 0;
  margin-bottom: 50px;
}
/* line 68, assets/less/index.less */
.upbtn .up {
  background: url("../images/up.png") no-repeat center;
  background-size: 100%;
  display: block;
  width: 50px;
  height: 50px;
  border: 5px #000 solid;
  border-radius: 50%;
  opacity: 0.8;
  cursor: pointer;
}
/* line 79, assets/less/index.less */
div[class*="sec"] {
  width: 100%;
  height: 100%;
  background-size: cover;
}
/* line 83, assets/less/index.less */
div[class*="sec"] article {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  line-height: 1;
  text-align: center;
}
/* line 91, assets/less/index.less */
.sec_1 {
  background: url("../images/notebook.jpg") no-repeat center;
}
/* line 93, assets/less/index.less */
.sec_1 article {
  text-align: center;
}
/* line 95, assets/less/index.less */
.sec_1 article:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
/* line 102, assets/less/index.less */
.sec_1 .intro {
  width: 1000px;
  display: inline-block;
  vertical-align: middle;
}
/* line 107, assets/less/index.less */
.sec_1 h1 {
  text-transform: uppercase;
  font-size: 80px;
  color: #fff;
  margin-bottom: 60px;
}
/* line 113, assets/less/index.less */
.sec_1 span {
  display: block;
  text-transform: uppercase;
  font-size: 40px;
  color: #fff;
}
/* line 120, assets/less/index.less */
.sec_2 {
  background: url("../images/memory.jpg") no-repeat center;
}
/* line 122, assets/less/index.less */
.sec_2 .career {
  text-align: left;
  padding-top: 150px;
}
/* line 126, assets/less/index.less */
.sec_2 cite {
  display: block;
  font-size: 80px;
  text-transform: uppercase;
  color: #2d2c32;
  margin: 0 0 30px 50px;
}
/* line 134, assets/less/index.less */
.sec_2 p {
  width: 600px;
  font-size: 24px;
  margin: 0 0 30px 30px;
  color: #ccc;
  line-height: 1.5;
}
/* line 142, assets/less/index.less */
div.sec_3 {
  height: auto;
}
/* line 144, assets/less/index.less */
div.sec_3 .textWrap {
  width: 1000px;
  margin: 0 auto;
  padding-top: 10%;
  text-align: center;
}
/* line 149, assets/less/index.less */
div.sec_3 .textWrap h3 {
  text-transform: uppercase;
  font-size: 80px;
  color: #2d2c32;
  margin-bottom: 20px;
}
/* line 155, assets/less/index.less */
div.sec_3 .textWrap span {
  width: 200px;
  height: 6px;
  background-color: #2d2c32;
  display: block;
  margin: 0 auto;
}
/* line 162, assets/less/index.less */
div.sec_3 .portWrap {
  width: 1000px;
  margin: 50px auto 0;
  position: relative;
}
/* line 166, assets/less/index.less */
div.sec_3 .portWrap > div {
  position: relative;
  height: 400px;
}
/* line 170, assets/less/index.less */
div.sec_3 .portWrap .imgWrap {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 500px;
  height: 350px;
}
/* line 174, assets/less/index.less */
div.sec_3 .portWrap .imgWrap img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
/* line 180, assets/less/index.less */
div.sec_3 .portWrap .thisInfo {
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;
  height: 350px;
}
/* line 185, assets/less/index.less */
div.sec_3 .portWrap .info {
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
}
/* line 189, assets/less/index.less */
div.sec_3 .portWrap .title {
  text-align: left;
}
/* line 191, assets/less/index.less */
div.sec_3 .portWrap .title span {
  font-size: 32px;
  color: #2d2c32;
}
/* line 196, assets/less/index.less */
div.sec_3 .portWrap .content {
  text-align: left;
  margin-top: 15px;
  margin-left: 15px;
}
/* line 201, assets/less/index.less */
div.sec_3 .portWrap .skill {
  text-align: left;
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 20px;
}
/* line 205, assets/less/index.less */
div.sec_3 .portWrap .skill span {
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  padding: 5px 10px;
  color: #ccc;
  border: 1px #ccc solid;
  border-radius: 5px;
}
/* line 220, assets/less/index.less */
.sec_5 {
  background: url("../images/cloud.jpg") no-repeat center;
}
/* line 222, assets/less/index.less */
.sec_5 .cont {
  width: 1000px;
  margin: 0 auto;
  padding-top: 30%;
  text-align: center;
}
/* line 227, assets/less/index.less */
.sec_5 .cont span {
  text-transform: uppercase;
  font-size: 80px;
  color: #2d2c32;
  margin-bottom: 20px;
}
/* line 234, assets/less/index.less */
.sec_5 .item {
  overflow: hidden;
  margin-top: 60px;
}
/* line 237, assets/less/index.less */
.sec_5 .item div {
  width: 33.333333333333%;
  text-align: center;
  float: left;
}
/* line 242, assets/less/index.less */
.sec_5 .item i {
  border: 5px #000 solid;
  display: block;
  width: 80px;
  height: 80px;
  margin: 50px auto;
  border-radius: 50%;
}
/* line 249, assets/less/index.less */
.sec_5 .item cite {
  display: block;
  font-size: 20px;
  color: #2d2c32;
  font-weight: bold;
  margin: 30px 0;
  text-transform: uppercase;
}
/* line 257, assets/less/index.less */
.sec_5 .item span {
  display: block;
  width: 50%;
  margin: 0 auto;
  font-weight: bold;
  font-size: 17px;
  color: #2d2c32;
}
/* line 265, assets/less/index.less */
.sec_5 .item .address i {
  background: url("../images/address.png") no-repeat center;
}
/* line 268, assets/less/index.less */
.sec_5 .item .tel i {
  background: url("../images/tel.png") no-repeat center;
}
/* line 271, assets/less/index.less */
.sec_5 .item .mail i {
  background: url("../images/mail.png") no-repeat center;
}
@media screen and (max-width: 1200px) {
  /* line 278, assets/less/index.less */
  .nav {
    width: 800px;
  }
  /* line 280, assets/less/index.less */
  .nav li {
    font-size: 18px;
  }
  /* line 285, assets/less/index.less */
  div[class*="sec"] article {
    width: 800px;
  }
  /* line 290, assets/less/index.less */
  .sec_1 .intro {
    width: 600px;
  }
  /* line 293, assets/less/index.less */
  .sec_1 h1 {
    font-size: 48px;
  }
  /* line 296, assets/less/index.less */
  .sec_1 span {
    font-size: 32px;
  }
  /* line 301, assets/less/index.less */
  .sec_2 .career {
    padding-top: 70px;
  }
  /* line 304, assets/less/index.less */
  .sec_2 cite {
    font-size: 48px;
    margin: 0 0 10px 30px;
  }
  /* line 308, assets/less/index.less */
  .sec_2 p {
    font-size: 22px;
    margin: 0 0 20px 20px;
  }
  /* line 314, assets/less/index.less */
  div.sec_3 .textWrap {
    width: 800px;
  }
  /* line 316, assets/less/index.less */
  div.sec_3 .textWrap h3 {
    font-size: 48px;
  }
  /* line 319, assets/less/index.less */
  div.sec_3 .textWrap span {
    min-width: 100px;
    height: 4px;
  }
  /* line 323, assets/less/index.less */
  div.sec_3 .portWrap {
    width: 800px;
  }
  /* line 325, assets/less/index.less */
  div.sec_3 .portWrap > div {
    height: 350px;
  }
  /* line 328, assets/less/index.less */
  div.sec_3 .portWrap .imgWrap {
    width: 450px;
    height: 300px;
  }
  /* line 331, assets/less/index.less */
  div.sec_3 .portWrap .thisInfo {
    width: 350px;
    height: 300px;
  }
  /* line 335, assets/less/index.less */
  div.sec_3 .portWrap .title span {
    font-size: 28px;
  }
  /* line 339, assets/less/index.less */
  div.sec_3 .portWrap .skill {
    left: 10px;
    right: 10px;
    bottom: 10px;
  }
  /* line 345, assets/less/index.less */
  .sec_5 .cont {
    width: 800px;
  }
  /* line 347, assets/less/index.less */
  .sec_5 .cont span {
    font-size: 48px;
  }
  /* line 352, assets/less/index.less */
  .sec_5 .item i {
    border: 1px #000 solid;
    width: 40px;
    height: 40px;
    margin: 30px auto;
  }
  /* line 357, assets/less/index.less */
  .sec_5 .item cite {
    font-size: 16px;
    margin: 20px 0;
  }
  /* line 361, assets/less/index.less */
  .sec_5 .item span {
    font-size: 14px;
  }
  /* line 364, assets/less/index.less */
  .sec_5 .item .address i {
    background-size: 100%;
  }
  /* line 367, assets/less/index.less */
  .sec_5 .item .tel i {
    background-size: 100%;
  }
  /* line 370, assets/less/index.less */
  .sec_5 .item .mail i {
    background-size: 100%;
  }
}
@media screen and (max-width: 800px) {
  /* line 377, assets/less/index.less */
  .nav {
    width: 100%;
  }
  /* line 379, assets/less/index.less */
  .nav li {
    font-size: 14px;
  }
  /* line 384, assets/less/index.less */
  div[class*="sec"] article {
    width: 100%;
  }
  /* line 389, assets/less/index.less */
  .sec_1 .intro {
    width: 400px;
  }
  /* line 392, assets/less/index.less */
  .sec_1 h1 {
    font-size: 36px;
  }
  /* line 395, assets/less/index.less */
  .sec_1 span {
    font-size: 24px;
  }
  /* line 400, assets/less/index.less */
  .sec_2 cite {
    font-size: 36px;
  }
  /* line 403, assets/less/index.less */
  .sec_2 p {
    font-size: 18px;
  }
  /* line 408, assets/less/index.less */
  div.sec_3 .textWrap {
    width: 100%;
  }
  /* line 410, assets/less/index.less */
  div.sec_3 .textWrap h3 {
    font-size: 36px;
  }
  /* line 413, assets/less/index.less */
  div.sec_3 .textWrap span {
    min-width: 100px;
    height: 4px;
  }
  /* line 417, assets/less/index.less */
  div.sec_3 .portWrap {
    margin-top: 20px;
    width: 450px;
  }
  /* line 420, assets/less/index.less */
  div.sec_3 .portWrap > div {
    height: 500px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px #ccc solid;
  }
  /* line 426, assets/less/index.less */
  div.sec_3 .portWrap .imgWrap {
    width: 450px;
    height: 300px;
  }
  /* line 429, assets/less/index.less */
  div.sec_3 .portWrap .thisInfo {
    top: 310px;
    right: 50px;
    width: 350px;
    height: 200px;
  }
  /* line 433, assets/less/index.less */
  div.sec_3 .portWrap .info {
    top: 5px;
    bottom: 5px;
    right: 5px;
    left: 5px;
  }
  /* line 437, assets/less/index.less */
  div.sec_3 .portWrap .title span {
    font-size: 24px;
  }
  /* line 441, assets/less/index.less */
  div.sec_3 .portWrap .content {
    margin: 10px 0 0 5px;
  }
  /* line 443, assets/less/index.less */
  div.sec_3 .portWrap .content p {
    font-size: 14px;
  }
  /* line 450, assets/less/index.less */
  .sec_5 .cont {
    width: 100%;
  }
  /* line 452, assets/less/index.less */
  .sec_5 .cont span {
    font-size: 36px;
  }
  /* line 457, assets/less/index.less */
  .sec_5 .item i {
    border: none;
    border-radius: initial;
  }
  /* line 464, assets/less/index.less */
  .upbtn .up {
    width: 30px;
    height: 30px;
    border: 1px #000 solid;
  }
}
@media screen and (max-width: 768px) {
  /* line 471, assets/less/index.less */
  header {
    position: fixed;
    background-color: #000;
    height: 80px;
  }
  /* line 476, assets/less/index.less */
  .nav {
    line-height: 80px;
  }
}
@media screen and (max-width: 650px) {
  /* line 485, assets/less/index.less */
  .nav i {
    display: block;
  }
  /* line 488, assets/less/index.less */
  .nav ul {
    display: none;
    position: absolute;
    width: 100%;
    right: 0;
    top: 80px;
    padding: 10px;
  }
  /* line 495, assets/less/index.less */
  .nav li {
    width: 80%;
    font-size: 18px;
    padding: 5px 10px;
    margin: 5px auto;
    line-height: 30px;
    text-align: center;
    float: initial;
    border-bottom: 1px #ccc solid;
  }
  /* line 507, assets/less/index.less */
  .sec_1 .intro {
    width: 320px;
  }
  /* line 510, assets/less/index.less */
  .sec_1 h1 {
    font-size: 32px;
  }
  /* line 513, assets/less/index.less */
  .sec_1 span {
    font-size: 18px;
  }
  /* line 518, assets/less/index.less */
  .sec_2 cite {
    font-size: 32px;
  }
  /* line 521, assets/less/index.less */
  .sec_2 p {
    width: 300px;
    font-size: 15px;
  }
  /* line 527, assets/less/index.less */
  .sec_5 .cont {
    padding-top: 10%;
  }
  /* line 529, assets/less/index.less */
  .sec_5 .cont span {
    font-size: 32px;
  }
  /* line 533, assets/less/index.less */
  .sec_5 .item {
    margin-top: 20px;
    text-align: center;
  }
  /* line 536, assets/less/index.less */
  .sec_5 .item i {
    margin: 10px auto;
  }
  /* line 539, assets/less/index.less */
  .sec_5 .item div {
    margin: 0 auto 20px;
    display: block;
    width: 300px;
    float: none;
  }
  /* line 545, assets/less/index.less */
  .sec_5 .item span {
    width: 80%;
    color: #2d2c32;
  }
  /* line 549, assets/less/index.less */
  .sec_5 .item cite {
    margin: 10px auto;
  }
}
@media screen and (max-width: 500px) {
  /* line 558, assets/less/index.less */
  div.sec_3 .textWrap h3 {
    font-size: 32px;
  }
  /* line 562, assets/less/index.less */
  div.sec_3 .portWrap {
    width: 100%;
  }
  /* line 564, assets/less/index.less */
  div.sec_3 .portWrap .imgWrap {
    width: 100%;
    height: 250px;
  }
  /* line 567, assets/less/index.less */
  div.sec_3 .portWrap .thisInfo {
    top: 260px;
    right: 20px;
    left: 20px;
    width: auto;
  }
  /* line 572, assets/less/index.less */
  div.sec_3 .portWrap .title span {
    font-size: 20px;
  }
  /* line 576, assets/less/index.less */
  div.sec_3 .portWrap .skill {
    left: 5px;
    right: 5px;
    bottom: 5px;
  }
  /* line 578, assets/less/index.less */
  div.sec_3 .portWrap .skill span {
    font-size: 13px;
    padding: 2px 5px;
  }
}
