@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
html,
body {
  height: 100%;
  font-family: 'Noto Sans', sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #000;
}
img {
  vertical-align: top;
}
i {
  text-indent: -9999px;
  font-style: italic;
}
button {
  text-indent: -9999px;
  background: none;
}
header {
  max-width: 740px;
  margin: 0 auto;
  text-align: center;
}
header .title h1 {
  padding: 10px 5px;
  font-size: 40px;
  line-height: 70px;
}
header .title h1 a {
  position: relative;
}
header .title h1 a .subTitle {
  text-transform: capitalize;
  display: inline-block;
  padding: 0 3px;
  color: #0099ff;
}
header .title h1 a .line {
  display: inline-block;
  height: 40px;
  width: 4px;
  position: absolute;
  right: -24px;
  top: -2px;
  background-color: #0099ff;
}
header nav ul {
  font-size: 0;
}
header nav li {
  font-size: 16px;
  line-height: 36px;
  font-weight: bolder;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 30px;
}
header nav li:last-child {
  margin-right: 0;
}
header nav li:hover a {
  color: #0099ff;
}
.wrap {
  max-width: 740px;
  margin: 20px auto 0;
}
.wrap p {
  letter-spacing: 2px;
  color: #555;
  line-height: 30px;
}
.wrap span,
.wrap a {
  font-weight: bold;
}
.wrap a {
  padding: 1px;
}
.wrap .eCtr {
  color: #00aaaa;
}
.wrap .sCond {
  color: #800000;
}
.wrap .cLang {
  color: #ff1868;
}
.wrap .wPub {
  color: #ff8040;
}
.wrap .fEnd {
  color: #808000;
}
.wrap .pFolio {
  background-color: #ff0080;
  color: #fff;
  transition: 0.5s;
}
.wrap .pFolio:hover {
  background-color: #ff4da6;
}
.wrap .html {
  color: #e54f27;
}
.wrap .css {
  color: #2177ff;
}
.wrap .js {
  color: #a79303;
}
.wrap .git {
  background-color: #000;
  color: #fff;
  transition: 0.5s;
}
.wrap .git:hover {
  background-color: #262626;
}
.wrap .rNow {
  color: #ff2020;
  text-transform: uppercase;
}
.work {
  text-align: center;
  max-width: 100%;
}
.work .wWrap {
  vertical-align: top;
  display: inline-block;
  max-width: 340px;
  text-align: center;
  margin-bottom: 20px;
}
.work .wTitle {
  margin-bottom: 20px;
}
.work .wTitle span {
  font-size: 20px;
  padding: 0 10px;
  line-height: 30px;
  font-weight: lighter;
}
.work .wTitle .tk {
  background-color: #000;
  color: #fff;
}
.work .wTitle .league {
  background-color: #153871;
  color: #f5e04a;
}
.work .wTitle .portfolio {
  background-color: #83e6e8;
  color: #000;
}
.work .wInfo {
  padding: 10px;
  margin-bottom: 30px;
}
.work .wInfo span {
  line-height: 30px;
}
.work .wInfo .tC,
.work .wInfo .uC {
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.work .wImage {
  margin-bottom: 30px;
}
.work .wImage img {
  height: 200px;
}
.work .wComment {
  padding: 10px;
}
.work .wComment span {
  line-height: 30px;
  font-weight: normal;
  letter-spacing: 2px;
}
.about .officer {
  color: #004000;
}
.about .spain {
  color: #f00;
}
.about .barcelona {
  color: #a40344;
}
.about .valencia {
  color: #fa5619;
}
.about .madrid {
  color: #272d61;
}
.about .arsenal {
  color: #db0007;
}
.contact {
  line-height: 30px;
}
.contact span {
  font-weight: lighter;
  letter-spacing: 2px;
  color: #555;
}
.contact ul {
  padding-left: 40px;
  margin: 16px 0;
}
.contact li .liTitle {
  background-color: #555;
  color: #fff;
  padding: 0 10px;
  letter-spacing: 0;
}
.contact li .liContent {
  margin-left: 20px;
}
